html {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    color: gray;
    line-height: 1.8;
    font-size: 15px;
}

body {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

.white {
    color: black;
    background-color: white;
}

.top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.bar {
    width: 100%;
    overflow: hidden;
}

.bar-block {
    width: 100%;
    clear: both;
}

.button-size-text {
    padding: 8px 16px;
    text-decoration: none;
    color: inherit;
}

.bar-item {
    background-color: inherit;
    float: left;
    text-align: center;
    cursor: pointer;
    display: block;
}

.button {
    display: inline-block;
    outline: none;
    text-align: left;
    border: none;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bar-item:hover,
.button:hover {
    color: black;
    background-color: gray;
}

.black,
.hover-black:hover {
    color: white;
    background-color: black;
}

.hover-red:hover {
    color: white;
    background-color: red;
}

.m-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-container {
    position: relative;
}

.content {
    max-width: 980px;
    padding: 64px 0px;
    margin: auto;
}

.container {
    padding: 0.1em 16px;
}

.wide {
    padding: 12px 24px;
    letter-spacing: 10px;
    white-space: nowrap;
    font-size: 24px;
}

.bg-img {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.bg-img-1 {
    background-image: url('img/bg-img-1.jpg');
    min-height: 100%;
}

.bg-img-2 {
    background-image: url('img/bg-img-2.jpg');
    min-height: 400px;
}

.animate-opacity {
    animation: opac 0.8s;
}

.round {
    border-radius: 4px;
}

.image {
    max-width: 100%;
    height: auto;
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.row-padding::before,
.row-padding::after,
.container::before,
.container::after,
.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 100%;
    padding: 12px 24px;
}

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.padding-small {
    padding: 4px 8px;
}

.padding-large {
    padding: 12px 24px;
}

.margin-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.large {
    font-size: 18px;
}

.x-large {
    font-size: 24px;
}

.xx-large {
    font-size: 36px;
}

.lt-sp-10 {
    letter-spacing: 10px;
}

.light-gray {
    color: black;
    background-color: #f1f1f1;
}

.dark-gray {
    color: white;
    background-color: #616161;
}

.quarter {
    float: left;
    width: 100%;
}

.text-white {
    color: white;
}

.row-padding,
.row-padding>.col {
    padding: 0 8px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .m-hide {
        display: none;
    }
}

@media (min-width:601px) {
    .hide-medium {
        display: none
    }
    .col.col2 {
        width: 49.9999%;
    }
    .col.col4 {
        width: 24.9999%;
    }
    .quarter {
        width: 24.9999%;
    }
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-device-width: 1024px) {
    .bg-img-1 {
        background-attachment: scroll;
    }
}